.git
.github
.gitignore
.env
.env.*
!.env.example
node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/bootstrap/cache/*.php
vendor
tests
phpunit.xml
README.md
docker-compose*.yml
*.sh
Makefile
.editorconfig
.phpunit*
